.item-content{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}

.weather-list{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;
}


.weather-item{
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding: 0 5px ;


}

@media (max-width: 880px) {
  .weather-list{
    flex-wrap: wrap;
    justify-content: center;
  }
}